
.marzero
{
    margin-bottom: 0px;
}
.firstIntro
{
    
    
display: block;
background: url('https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336378_960_720.jpg');


width:  100%;
height: 300px;
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 10px 0px 20px 0px;
}

.int_cont
{
    margin-left: 30px;
margin-right: 30px;
}

.firstIntroBody
{
    
    opacity: 0.7; 
    background-color:white;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 500px;
    position: Relative;
    float: right;
    margin: 30px 80px 20px 0px;
    font-size: 18px;

}

 .values
 {
     padding-top:10px ;
     width: 100%;
     height: auto;
      background-color:#5dade2;
 }

.motionIntro
{
    width:100%;
    height:350px;
}
.intr
{
    margin-left: 30px;
    margin-right: 30px;
}
.negmarg
{
    margin-top: -10px;;
}
.secondIntro
{
    
    
display: block;
background: url('https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336378_960_720.jpg');
margin: 10px 0px 20px 0px;
width: 1425 px;
height: 300px;
background-repeat: no-repeat;
background-size: 100% 100%;

}



.secondIntroBody
{
    opacity: 0.7; 
    background-color:white;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 500px;
    position: Relative;
    float: left;
    margin: 30px 0px 20px 80px;
    font-size: 18px;

}
.marginsidesTest
{
margin-left: 250px;
margin-right: 200px;
margin-top: 20px;
margin-bottom: 20px;
}
.testinner
{
   
}
.testimage
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.TestInfo
{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.introcent
{
    color: black;
    opacity: 1;
}
.TestInfocolor
{
    color: #32a0fb;
}
.test
{
    font-weight: bold;
  margin-top: 20px;   
    text-align: center;
}
.mainTest
{
background-color: black;
color:white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
  }

  .lineh
  {
      line-height: 1.79em;
  }
  .footer
  {

    background-color: black;
    color: blanchedalmond;
  }
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


  .valuesBox
  {
      width: 280px;
      height: auto;
      margin-top: 10px;
  }





