.slider
{
    width: 100%;
    height: 300px;
}


.projectsIcons
{
    text-align: center;
}

.marginsides
{
    margin-left: 40px;
    margin-right: 40px;
}

.iconmarg
{
    
}

.ProjectImgSize
{

    width: 150px;
    height: 150px;
}