.slider
{
    width: 100%;
    height: 300px;
}


.projectsIcons
{
    text-align: center;
    background-color: gray;
}

.marginsides
{
    margin-left: 250px;
    margin-right: 250px;
}

.iconmarg
{
    
}

.ProjectImgSize
{

    width: 250px;
    height: 200px;
}